@import "tailwindcss";

:root {
    --primary-color: #4f46e5;
    --primary-hover: #4338ca;
}

html {
    background-color: #09090b;
    overscroll-behavior: none;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.fade-in { 
    animation: fadeIn 0.3s ease-out;
}

.fade-out { 
    animation: fadeOut 0.3s ease-out;
}

.progress-bar {
    width: 0%;
    transition: width 3s linear;
}

.fill-progress {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}